body {
    background-color: #fff;
    padding: 0px;
}

header {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: 500;
    margin: 0 auto;
    width: 90%;
}

a {
    color:#ff9800;
}

.select-wrapper input.select-dropdown {
    font-size: 12px;
}

.input-field {
    margin: 0;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    font-weight: 900;
    margin: 0;
}

h4 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 1.5rem;
}

h6 {
    font-size: 12px;
    margin: 0;  
}

#shiba {
    text-align: center;
}

#poster-container {
    position: relative;
    height: 80vh;
    max-height: 800px;
    border: 48px solid black;
    margin: 2px solid black;
}

#download {
    margin: 20px 0px solid ;
    
}

#quote {
    overflow: hidden;
}

#btn-container {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    text-align: center;
}

#random-btn {
    margin: 8px 0;
    /* width: 100%; */
}

#customize-btn {
    margin: 8px 0;
    width: 100%;
}

#download-btn {
    margin: 8px 0;
    /* width: 100%; */
    padding-left: 10px;
    padding-right: 10px;
}

#generate-customized {
    margin: 8px 0;
    width: 100%;
}

#font-color {
    text-align: left;
}

.container {
    width: 90%;
}

.filter {
    margin-top: 30px;
}

.full-quote {
    padding: 20px;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 2.5vw;
    color: white;
    text-shadow: black 3px 3px 24px;
}

.full-author {
    color: white;
    text-shadow: black 3px 3px 3px;
    padding-top: 20px;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 1.25vw;
}

.card {
    padding: 0px;
}

.modal { 
    max-height: 100%; 
    overflow: visible;
}

.valign-wrapper {
    margin: 0;
}

.poster {
    background-repeat: no-repeat;
    background-size: cover;
}
 
.dropdown-content li>a, .dropdown-content li>span {
    color: #ff9800;
}

.float {
    transform: translatey(0);
    animation: float 1.8s ease-in-out infinite;
}

@keyframes float {
    0%,100% {
        transform: translatey(0)
    }

    45% {
        transform: translatey(-15px)
    }
}

.shadow {
    display: block;
    width: 20%;
    height: 6px;
    margin: 9px auto 40px;
    border-radius: 6px;
    background: rgba(0,0,0,.1);
    animation: shadow 1.8s ease-in-out infinite;
}

@keyframes shadow {
    0%,100% {
        width: 12%
    }

    45% {
        width: 5%
    }
}